@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Euclid_Circular_B";
    src: url("/public//fonts/EuclidCircularB-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Euclid_Circular_B";
    src: url("/public/fonts/EuclidCircularB-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Euclid_Circular_B";
    src: url("/public/fonts/EuclidCircularB-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Euclid_Circular_B";
    src: url("/public/fonts/EuclidCircularB-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Euclid_Circular_B";
    src: url("/public/fonts/EuclidCircularB-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/public//fonts/HelveticaNeue-Regular.woff2") format("woff2");
    font-style: normal;
}